body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial;
}

header {
  padding: 15px;
  background: #1a1a1a;
  text-align: center;
  position: sticky;
  top: 0;
}

.mini { color: orange; font-weight: 800; font-size: 28px; }
.tube { color: red; font-weight: 800; font-size: 28px; }

#buscador {
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  margin-top: 10px;
}

.videos {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.video-card {
  background: #222;
  padding: 10px;
  border-radius: 10px;
  transition: .2s;
}

.video-card:hover {
  transform: scale(1.05);
  background: #333;
}

/* PLAYER DISEÑO PRO */
.player {
  position: relative;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
}

.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(20,20,20,0.85);
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  animation: fadeUp 0.3s ease-in-out;
}

@keyframes fadeUp {
  from { transform: translateY(15px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.btn {
  background: #ff0000;
  color: white;
  border: none;
  padding: 7px 15px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.1);
}

.speed {
  padding: 7px;
  border-radius: 6px;
  background: #333;
  color: white;
  border: none;
}

.progress {
  flex-grow: 1;
  height: 5px;
  border-radius: 5px;
  background: #444;
}

/* AVISO */
.aviso-container {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.aviso-box {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 15px;
  max-width: 400px;
  text-align: center;
}

.aviso-btns {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.ok {
  background: #28a745;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 6px;
}

.no {
  background: #dc3545;
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 6px;
}