
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

header {
  background: #202020;
  padding: 15px;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

main {
  padding: 20px;
}

#video-list {
  margin-bottom: 20px;
}

.video-item {
  padding: 12px;
  background: #181818;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.video-item:hover {
  background: #242424;
}

#player {
  background: #181818;
  padding: 20px;
  border-radius: 10px;
}

#video-player {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}